{% extends '/projects/project.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}
{% if "add" in request.path %}
Add new camera
{% else %}
Edit Camera {{ camera.name }}
{% endif %}
{% endblock %}

{% block dashboard_title %}
{% if "add" in request.path %}
Add new camera
{% else %}
Edit Camera {{ camera.name }}
{% endif %}
{% endblock %}

{% block content %}
<div class="ui stackable one column grid">
  <div class="column">
    <div class="ui vertical segment">
      <form class="ui big form" method="POST">
        {{ form.error}}
        {{ form.csrf_token }}
        <div class="left floated column">
          <div class="ui four column grid">
            <div class="two column row">
              <div class="ten wide column">
                <div class="field">
                  {{ renderer.render_field(form.name) }}
                </div>
              </div>
              <div class="six wide column">
                <div class="field">
                  {{ renderer.render_field(form.frame_rate) }}
                </div>
              </div>
            </div>
            <div class="ui one column row">
              <div class="column">
                <div class="inline fields" id="camera_input_select">
                  <!-- <label>Camera </label> -->
                  <div class="field">
                    <div id="byModel" class="ui radio checkbox">
                      <input id="byModelInput" type="radio" name="model" checked>
                      <label>Camera Model</label>
                    </div>
                  </div>
                  <div class="field">
                    <div id="byURI" class="ui radio checkbox">
                      <input id="byURIInput" type="radio" name="uri">
                      <label>Camera URI</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="cameraFromURI" class="one column row" style="display: none;">
              <div class="column">
                <div class="fields">
                  <div class="sixteen wide field">
                    {{ renderer.render_field(form.uri) }}
                  </div>
                </div>
              </div>
            </div>
            <div id="cameraFromModel" class="one column row">
              <div class="column">
                <div class="fields">
                  <div class="three wide field">
                    {{ renderer.render_select_search(form.brand) }}
                  </div>
                  <div class="three wide field">
                    <label>Camera Models</label>
                    <select id="model_selector" name="model_id" class="ui search dropdown">
                      <option value="">Select Model</option>
                    </select>
                  </div>
                  <div class="five wide field">
                    {{ renderer.render_field(form.ip_address) }}
                  </div>
                  <div class="field">
                    {{ renderer.render_field(form.username) }}
                  </div>
                  <div class="field">
                    {{ renderer.render_field(form.password) }}
                  </div>
                  <div class="two wide field">
                    {{ renderer.render_field(form.channel) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="two column row">
              <div class="ten wide column">
                <div class="field">
                  <label>Locations</label>
                  <div class="two fields">
                    <div class="field">
                      {{form.latitude(placeholder="Latitude")}}
                    </div>
                    <div class="field">
                      {{form.longitude(placeholder="Longitude")}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="six wide column">
                <div class="field">
                  {{ renderer.render_field(form.frame_size) }}
                </div>
              </div>
            </div>
            <div class="one column row">
              <div class="wide column">
                <div class="three fields">
                  <div class="field">
                    {{ renderer.render_field(form.storage_period) }}
                    <div class="ui pointing  label">0 Day: Don't remove data.</div>
                  </div>
                  <div class="field">
                    {{ renderer.render_field(form.sensitivity) }}
                  </div>
                  <div class="field">
                    {{ renderer.render_checkbox(form.motion_detector) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="one column row">
              <div class="right aligned column">
                <a class="ui button" href="{{ url_for('projects.view',project_id=project.id) }}">Back</a>
                <button class="ui submit primary button" type="submit">Confirm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</div>
<script type="text/python">
  from cameras import form_controller
  {% if camera %}
    {% set camera_id = camera.id %}
    {% else %}
    {% set camera_id = "" %}
  {% endif %}
  camera_form = form_controller.FormController(get_camera_model_choices_url="{{ url_for("cameras.get_models_by_brand", brand_id="brand_id")}}", camera_id="{{camera_id}}", get_initial_form_url="{{ url_for('cameras.initial_form', camera_id="camera_id")}}")
  camera_form.start()
</script>
{% endblock %}

{% block additional_js %}
<script type="text/javascript" src="{{ url_for('static', filename='brython/cameras.brython.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.min.js') }}"></script>
<script type="text/javascript">
  $('.search.dropdown')
    .dropdown()
    ;
  $('.ui.radio.checkbox').checkbox();
  $('.ui.form')
    .form({
      fields: {
        name: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter Camera Name"
            },
            {
              type: "maxLength[35]",
              prompt: "Camera name is too long (maximum is 35 characters). "
            }
          ]
        },
        frame_rate: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter Frame Rate"
            },
            {
              type: 'float[1..175]',
              prompt: 'Please enter Frame Rate more than 0'
            }
          ]
        },
        latitude: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter Latitude"
            }
          ]
        },
        longitude: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter Longitude"
            }
          ]
        },
        width: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter width"
            }
          ]
        },
        height: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter height"
            }
          ]
        },
        storage_period: {
          rules: [
            {
              type: "decimal",
              prompt: "Please enter a valid decimal"
            }
          ]
        }
      }
    });
</script>
<script>
  $('.ui.radio.checkbox')
    .checkbox()
    ;
</script>
{% endblock %}