{% extends '/projects/project.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}Add new camera{% endblock %}

{% block dashboard_title %}
{% if "add" in request.path %}
Add new camera
{% else %}
Edit Camera {{ camera.name }}
{% endif %}
{% endblock %}

{% block content %}
<div class="ui stackable one column grid">
  <div class="column">
    <div class="ui vertical segment">
      <form class="ui big form" method="POST">
        {{ form.csrf_token }}
        <div class="left floated column">
          <div class="ui four column grid">
            <div class="two column row">
              <div class="ten wide column">
                <div class="field">
                  {{ renderer.render_field(form.name) }}
                </div>
              </div>
              <div class="six wide column">
                <div class="field">
                  {{ renderer.render_field(form.frame_rate) }}
                </div>
              </div>
            </div>
            <div class="one column row">
              <div class="column">
                <div class="field">
                  {{ renderer.render_field(form.uri) }}
                </div>
              </div>
            </div>
            <div class="two column row">
              <div class="ten wide column">
                <div class="field">
                  <label>Locations</label>
                  <div class="two fields">
                    <div class="field">
                      {{form.latitude(placeholder="Latitude")}}
                    </div>
                    <div class="field">
                      {{form.longitude(placeholder="Longitude")}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="six wide column">
                <div class="field">
                  {{ renderer.render_field(form.frame_size) }}
                </div>
              </div>
            </div>
            <div class="one column row">
              <div class="wide column">
                <div class="three fields">
                  <div class="field">
                    {{ renderer.render_field(form.storage_period) }}
                    <div class="ui pointing  label"> 0 Day: Don't remove data.</div>
                  </div>
                  <div class="field">
                    {{ renderer.render_field(form.sensitivity) }}
                  </div>
                  <div class="field">
                    {{ renderer.render_checkbox(form.motion_detector) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="one column row">
              <div class="right aligned column">
                <a class="ui button" href="{{ url_for('projects.view',project_id=project.id) }}">Back</a>
                <button class="ui submit primary button" type="submit">Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.min.js') }}"></script>
<script type="text/javascript">
  $('.ui.radio.checkbox').checkbox();
  $('.ui.form')
    .form({
      fields: {
        name: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter camera name"
            },
            {
              type: "maxLength[35]",
              prompt: "Camera name is too long (maximum is 35 characters). "
            }
          ]
        },
        frame_rate: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter frame rate"
            }
          ]
        },
        latitude: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter Latitude"
            }
          ]
        },
        longitude: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter Longitude"
            }
          ]
        },
        width: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter width"
            }
          ]
        },
        height: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter height"
            }
          ]
        },
        uri: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter uri"
            }
          ]
        },
        storage_period: {
          rules: [
            {
              type: "decimal",
              prompt: "Please enter a valid decimal"
            }
          ]
        }
      }
    });
</script>
{% endblock %}