{% extends '/projects/project.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
Add new camera
{% endblock %}

{% block content %}
<div class="ui two column grid">
  <div class="column">
    <div class="ui segment">
      <form class="ui big form" method="POST">
        {{ form.csrf_token }}
        <div class="left floated column">
          <div class="ui four column grid">
            <div class="two column row">
              <div class="ten wide column">
                <div class="field">
                  {{ renderer.render_field(form.name) }}
                </div>
              </div>
              <div class="six wide column">
                <div class="field">
                  {{ renderer.render_field(form.frame_rate) }}
                </div>
              </div>
            </div>
            <div class="one column row">
              <div class="column">
                <div class="field">
                  {{ renderer.render_field(form.uri) }}
                </div>
              </div>
            </div>
            <div class="two column row">
              <div class="ten wide column">
                <div class="field">
                  <label>Locations</label>
                  <div class="two fields">
                    <div class="field">
                      <input type="text" name="latitude" placeholder="Latitude">
                    </div>
                    <div class="field">
                      <input type="text" name="longitude" placeholder="Longitude">
                    </div>
                  </div>
                </div>
              </div>
              <div class="six wide column">
                <div class="field">
                  {{ renderer.render_field(form.frame_size) }}
                </div>
              </div>
            </div>
            <div class="one column row">
              <div class="five wide column">
                <div class="field">
                  {{ renderer.render_field(form.storage_period) }}
                  <div class="ui pointing  label"> 0 Day: Don't remove data.</div>
                </div>
              </div>
            </div>
            <div class="one column row">
              <div class="column">
                <button class="ui submit primary button" type="submit">Confirm</button>
                <a class="ui button" href="{{ url_for('projects.view',project_id=project.id) }}">Back</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.min.js') }}"></script>
<script type="text/javascript">
  $('.ui.radio.checkbox').checkbox();
  $('.ui.form')
    .form({
      fields: {
        name: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter camera name"
            },
            {
              type: "maxLength[35]",
              prompt: "Camera name is too long (maximum is 35 characters). "
            }
          ]
        },
        frame_rate: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter frame rate"
            }
          ]
        },
        width: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter width"
            }
          ]
        },
        height: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter height"
            }
          ]
        },
        uri: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter uri"
            }
          ]
        },
        storage_period: {
          rules: [
            {
              type: "decimal",
              prompt: "Please enter a valid decimal"
            }
          ]
        }
      }
    });
</script>
{% endblock %}