{% extends '/projects/project.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
<h2><a href="{{ url_for('projects.view', project_id=camera.project.id) }}">{{ camera.project.name | title }}</a>>
  Camera: {{camera.name}}</h2>
{% endblock %}
{% block content %}
<div class="ui horizontal segments" style="margin-top: 2rem;">
  <div class="ui segment">
    <p><img src="{{ camera.get_streaming_url() }}" width="100%"></p>
  </div>
  <div class="ui segment">
    <div class="ui basic segments">
      <div class="ui segment">
        <i class="big folder icon"></i> 20200921
      </div>
      <div class="ui segment">
        <p>Middle</p>
      </div>
      <div class="ui segment">
        <p>Middle</p>
      </div>
      <div class="ui segment">
        <p>Middle</p>
      </div>
      <div class="ui segment">
        <p>Bottom</p>
      </div>
    </div>
  </div>
</div>

<!-- <input id="streaming-url" type="hidden" value="{{ config.get('NOKKHUM_LPRSTREAMING_URL', 'localhost') }}">
<div class="ui grid" style="margin-top: 1em;">
  <div class="twelve wide centered column">
    <div class="ui segment column">
      <div class="ui stackable two column grid">
        <div class="black column">
           <img src="{{ camera.get_streaming_url() }}" width="100%">
        </div>
        <div class="column">
          <div class="ui divided huge list">
            <div class="item">
              <i class="folder icon"></i>
              <div class="content">
                <a href="{{ url_for('storages.list_storage_by_processor', processor_id=camera.get_processor().id) }}"></i>
                  Storage</a>
              </div>
            </div>
            <div class="item">
              <i class="edit icon"></i>
              <div class="content">
                <a href="{{ url_for('cameras.edit', camera_id=camera.id, project_id=project.id) }}"></i> Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}