{% extends '/projects/project.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
Grid View
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<div class="section active">Grid View</div>
{% endblock %}

{% block content %}

<div class="ui divider"></div>

<div class="ui grid lp-viewer" id="{{project.id}}">
  <div class="fourteen wide centered column">
      <div class="ui stackable celled two column grid">
        {% for camera in camera_list %}
        <div class="black column">
          <div class="row">
            Camera: {{camera.name}}
          </div>
          <div class="row">
            <div class="column" align="middle">
                <img src="{{ camera.get_streaming_url() }}" width="100%">
            </div>
          </div>
        </div>
        {% endfor %}

        {% for i in range(0,4-(camera_list|length)) %}
        <div class="black column" align="middle" style="margin:0px;">
          <i class="video  massive icon" style="margin:15%"></i>
        </div>
        {% endfor %}
        
      </div>
    </div>
</div>
{% endblock %}
