{% extends '/cameras/camera.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}Edit Camera{% endblock %}

{% block dashboard_title %}
Edit Camera
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<a class="section" href="{{ url_for('cameras.edit', project_id=project.id, camera_id=camera.id) }}">Edit Camera</a>
{% endblock %}

{% block content %}
<div>
  </br>
  <form class="ui big form" method="POST">
    {{ form.csrf_token }}
    <div class="ui grid">
      <div class="row">
        <div class="six wide computer twelve wide tablet column">
          <div class="field">
            {{ renderer.render_field(form.name) }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three wide computer twelve wide tablet column">
          <div class="field">
            {{ renderer.render_field(form.frame_rate) }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three wide computer twelve wide tablet column">
          <div class="row"> <span style="font-size: .92857143em; font-weight: 700;">Frame Size:</span></div>
        </div>
      </div>
      <div class="row">
        <div class="six wide computer twelve wide tablet column">
          <div class="ui segment">
            <div class="fields">
              <div class="field">
                {{ renderer.render_field(form.width) }}
              </div>
              <div class="field">
                {{ renderer.render_field(form.height) }}
              </div>
            </div>
          </div>
          <div class="row"> <span style="font-size: .92857143em; font-weight: 700;">Location:</span></div>
          <div class="ui segment">
            <div class="fields">
              <div class="field">
                {% if form.longitude.errors | count > 0 %}
                <div class="ui negative message">
                  {{ renderer.render_field(form.longitude) }}
                </div>
                {% else %}
                {{ renderer.render_field(form.longitude) }}
                {% endif %}
              </div>
              <div class="field">
                {% if form.latitude.errors | count > 0 %}
                <div class="ui negative message">
                  {{ renderer.render_field(form.latitude) }}
                </div>
                {% else %}
                {{ renderer.render_field(form.latitude) }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="field">
            {{ renderer.render_field(form.uri) }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="three wide computer twelve wide tablet column">
          <div class="inline field">
            {{ renderer.render_field(form.storage_period) }}
            <div class="ui pointing  label"> 0 day: Don't remove data.</div>
          </div>
          <button class="ui submit primary button" type="submit">Confirm</button>
          <a class="ui button" href="{{ url_for('projects.view',project_id=project.id) }}">Back</a>
        </div>
      </div>
      <div class="row">
        <div class="seven wide computer twelve wide tablet column">
          <div class="ui error message"></div>
        </div>
      </div>
  </form>
</div>
{% endblock %}

{% block additional_js %}
<script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.min.js') }}"></script>
<script type="text/javascript">
  $('.ui.radio.checkbox').checkbox();
  $('.ui.form')
    .form({
      fields: {
        name: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter camera name"
            },
            {
              type: "maxLength[35]",
              prompt: "Camera name is too long (maximum is 35 characters). "
            }
          ]
        },
        frame_rate: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter frame rate"
            }
          ]
        },
        width: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter width"
            }
          ]
        },
        height: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter height"
            }
          ]
        },
        longitude: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter longitude"
            }
          ]
        },
        latitude: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter latitude"
            }
          ]
        },
        uri: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter uri"
            }
          ]
        }
      }
    });
</script>
{% endblock %}