{% extends "/base/base-layout.html" %}

{% import '/base/html-renderer.html' as renderer %}
{% block additional_head %}
<script type="text/javascript" src="{{ url_for('static', filename='brython/gridviews.brython.js') }}"></script>
<style>
  div .displays {
    display: flex !important;
    position: relative;
  }

  .displays>img {
    margin: auto;
    width: 100%;
    display: block;
    max-height: 100%;
    max-width: 100%;
  }

  .displays a {
    position: absolute;
    z-index: 1;
    left: 0px;

  }

  .displays[drop-active=true] {
    background: grey !important;
  }

  .rightbottom {
    position: absolute !important;
    right: 0px;
    top: 0px;
    left: auto !important;
    margin: 0 !important;
    box-shadow: none !important;
  }

  #cameras_grid:fullscreen {
    overflow: scroll !important;
    padding: 0;
  }

  #cameras_grid:-ms-fullscreen {
    overflow: scroll !important;
    padding: 0;
  }

  #cameras_grid:-webkit-full-screen {
    overflow: scroll !important;
    padding: 0;
  }

  #cameras_grid:-moz-full-screen {
    overflow: scroll !important;
    padding: 0;
  }
</style>
{% endblock %}
{% block title %}Grids View{% endblock %}

{% block body %}
<div class="ui stackable equal width two column grid container-fluid">
  <div id="control_panel" class="three wide computer sixteen wide tablet column" style="margin: 1rem;">
    <a class="ui button icon fluid" href="{{ url_for('dashboard.index') }}">
      <i class="left chevron icon"></i>
      Dashboard
    </a>
    <a class="ui icon primary button fluid" style="margin-top: 1rem;" type="button" id="fullscreen_btn">
      <i class="expand icon"></i>
      เต็มจอ
    </a>
    <a id="create-grid-template-btn" class="ui icon green button fluid" style="margin-top: 1rem;" type="button">
      <i class="add icon"></i>
      New Grid Template
    </a>
    <a id="manage-grid-template-btn" class="ui icon orange button fluid" style="margin-top: 1rem;" href="#">
      <i class="tasks icon"></i>
      Manage Grid Template
    </a>
    <div class="ui form" style="padding-top: 1rem;">
      <form method="GET" name="grids-selector">
        <div class="fields">
          <div class="eleven wide field">
            <select name="grid_id" id="grid_id" onchange="this.form.submit()">

              {% if not gridviews%}
              <option value="">Please Create Grid Template First</option>
              {%endif%}
              {% for grid in gridviews %}
              {{ grid.id}}
              {% if grid.id |string == request.args.get('grid_id','') %}
              <option selected="selected" value="{{grid.id}}">{{grid.name}}</option>
              {% else%}
              <option value="{{grid.id}}">{{grid.name}}</option>
              {% endif %}
              {% endfor %}
            </select>

          </div>
          <div class="five wide field">
            {% if not gridviews %}
            <a id="update-grid" class="ui right primary disabled button">
              {% else%}
              <a id="update-grid" class="ui right primary button">

                {% endif %}
                Update
              </a>
          </div>
        </div>

      </form>
    </div>
    <div class="ui segment">
      <div class="ui list">
        {% if not projects %}
        <div class="item">
          <div class="content">
            No any projects
          </div>
        </div>
        {% endif %}
        {% for project in projects %}
        <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header">{{project.name | title}}</div>
            <div class="list">
              {% if not project.cameras %}
              <div class="item ">
                <div class="content">
                  No any camera.
                </div>
              </div>
              {% endif %}
              {% for camera in project.cameras %}
              <div id="{{camera.id}}" class="item cameras" draggable="true">
                <i class="video icon"></i>
                <div class="content">
                  {{ camera.name }}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="cameras_grid" class="column">
    {% set grid=num_grid | int%}
    {% if grid == 10 %}
    {% include "/base/grids/ten_grids.html" %}
    {% elif grid == 13 %}
    {% include "/base/grids/thirteen_grids.html" %}
    {% elif grid == 16 %}
    {% include "/base/grids/sixteen_grids.html" %}
    {% elif grid == 32 %}
    {% include "/base/grids/thirty-two_grids.html" %}
    {% else %}
    {% include "/base/grids/four_grids.html" %}
    {% endif %}
  </div>
</div>
<div class="ui create small modal">
  <div class="ui middle aligned grid">
    <div class="column">
      <h2 class="header">
        <div class="content" style="margin-top: 1rem; margin-left: 1rem;">
          Add New Grid Template
        </div>
      </h2>
      <form class="ui large form" method="POST" action="{{ url_for('gridviews.create') }}">

        <div class="ui segment">
          <div class="fields">
            <div class="ten wide required field">
              <label>Grid Template Name</label>
              <input type="text" name="name" required>
            </div>
            <div class="four wide field">
              <label>Number of Grids</label>
              <select name="grid" id="grid">
                {% for num in num_grids %}
                <option value="{{num}}">{{num}} Grids</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="right actions">
            <button type="submit" class="ui green button">
              Create
            </button>
            <div class="ui deny button">
              Cancel
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="ui manage modal">
  <div class="ui middle aligned grid">
    <div class="column">
      <h2 class="header">
        <div class="content" style="margin-top: 1rem; margin-left: 1rem;">
          Manage Grid Template
        </div>
      </h2>
      <div class="ui segment">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Grid Numbers</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            {% for grid in gridviews %}
            <tr>
              <td data-label="Name">{{ grid.name }}</td>
              <td data-label="Grid Numbers">{{ grid.num_grid }} Grids</td>
              <td data-label="Manage"><a href="{{ url_for('gridviews.delete', grid_id=grid.id)}}">
                  <i class="circular trash red icon"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="right actions">
          <div class="ui deny button">
            Back
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/python">
from gridviews import controllers

gridview = controllers.GridViewController(grid_id="{{request.args.get('grid_id', grid_id)}}", save_gird_url= "{{ url_for('gridviews.save')}}",  get_grid_url= "{{ url_for('gridviews.get_grid')}}", ws_url="{{ config.get('WS_URL')}}")
gridview.start()
</script>
{% endblock %}

{% block additional_js %}
<script>
  $(function () {
    $("#create-grid-template-btn").click(function () {
      $(".ui.modal.create").modal('show');
    });
    $(".ui.modal.create").modal({
      closable: true
    });
  });
  $(function () {
    $("#manage-grid-template-btn").click(function () {
      $(".ui.modal.manage").modal('show');
    });
    $(".ui.modal.manage").modal({
      closable: true
    });
  });

</script>
<script>
  $('.item')
    .popup()
    ;

  /* Get into full screen */
  function GoInFullscreen(element) {
    if (element.requestFullscreen)
      element.requestFullscreen();
    else if (element.mozRequestFullScreen)
      element.mozRequestFullScreen();
    else if (element.webkitRequestFullscreen)
      element.webkitRequestFullscreen();
    else if (element.msRequestFullscreen)
      element.msRequestFullscreen();
  }

  /* Get out of full screen */
  function GoOutFullscreen() {
    if (document.exitFullscreen)
      document.exitFullscreen();
    else if (document.mozCancelFullScreen)
      document.mozCancelFullScreen();
    else if (document.webkitExitFullscreen)
      document.webkitExitFullscreen();
    else if (document.msExitFullscreen)
      document.msExitFullscreen();
  }

  /* Is currently in full screen or not */
  function IsFullScreenCurrently() {
    var full_screen_element = document.fullscreenElement || document.webkitFullscreenElement || document.mozFullScreenElement || document.msFullscreenElement || null;

    // If no element is in full-screen
    if (full_screen_element === null)
      return false;
    else
      return true;
  }

  $("#fullscreen_btn").on('click', function () {
    if (IsFullScreenCurrently())
      GoOutFullscreen();
    else
      GoInFullscreen($("#cameras_grid").get(0));
  });
</script>
{% endblock %}