{% extends "/base/base-layout.html" %}

{% import '/base/html-renderer.html' as renderer %}
{% block additional_head %}
<script type="text/javascript" src="{{ url_for('static', filename='brython/gridviews.brython.js') }}"></script>
<style>
  div .displays {
    display: flex !important;
    position: relative;
  }

  .displays img {
    margin: auto;
    width: 100%;
  }

  .displays a {
    position: absolute;
    z-index: 1;
    left: 0px;

  }

  .displays[drop-active=true] {
    background: grey !important;
  }

  .rightbottom {
    position: absolute !important;
    right: 0px;
    top: 0px;
    left: auto !important;
    margin: 0 !important;
    box-shadow: none !important;
  }

  #cameras_grid:fullscreen {
    overflow: scroll !important;
  }

  #cameras_grid:-ms-fullscreen {
    overflow: scroll !important;
  }

  #cameras_grid:-webkit-full-screen {
    overflow: scroll !important;
  }

  #cameras_grid:-moz-full-screen {
    overflow: scroll !important;
  }
</style>
{% endblock %}
{% block body %}
<div class="ui stackable equal width two column grid container-fluid">
  <div id="control_panel" class="three wide computer sixteen wide tablet column" style="margin: 1rem;">
    <a class="ui button icon fluid" href="{{ url_for('dashboard.index') }}">
      <i class="left chevron icon"></i>
      Dashboard
    </a>
    <button class="ui icon primary button fluid" style="margin-top: 1rem;" type="button"
      id="fullscreen_btn">
      <i class="expand icon"></i>
      เต็มจอ
    </button>
    <div class="ui form" style="padding-top: 1rem;">
      <form method="GET" name="grids-selector">
        <div class="fields">
          <div class="twelve wide field">
            <select name="grid" id="grid" onclick="this.form.submit()">
              {% for num in num_grids %}
              {% if num == request.args.get('grid', 4) | int %}
              <option selected="selected">{{num}} Grids</option>
              {% else%}
              <option value="{{num}}">{{num}} Grids</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <a id="save-grid" class="ui right green button">
            Save
          </a>
        </div>
      </form>
    </div>
    <div class="ui segment">
      <div class="ui list">
        {% if not projects %}
        <div class="item">
          <div class="content">
            No any projects
          </div>
        </div>
        {% endif %}
        {% for project in projects %}
        <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header">{{project.name | title}}</div>
            <div class="list">
              {% if not project.cameras %}
              <div class="item ">
                <div class="content">
                  No any camera.
                </div>
              </div>
              {% endif %}
              {% for camera in project.cameras %}
              <div id="{{camera.id}}-{{ camera.get_streaming_url() }}" class="item cameras" draggable="true">
                <i class="video icon"></i>
                <div class="content">
                  {{ camera.name }}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="cameras_grid" class="column">
    {% set grid=request.args.get("grid", 4) | int%}
    {% if grid == 10 %}
    {% include "/base/grids/ten_grids.html" %}
    {% elif grid == 13 %}
    {% include "/base/grids/thirteen_grids.html" %}
    {% elif grid == 16 %}
    {% include "/base/grids/sixteen_grids.html" %}
    {% elif grid == 32 %}
    {% include "/base/grids/thirty-two_grids.html" %}
    {% else %}
    {% include "/base/grids/four_grids.html" %}
    {% endif %}
  </div>
</div>
<script type="text/python">
from gridviews import controllers

gridview = controllers.GridViewController({{request.args.get('grid', 4) | int}}, save_gird_url= "{{ url_for('gridviews.save')}}",  get_grid_url= "{{ url_for('gridviews.get_grid')}}")
gridview.start()
</script>
{% endblock %}

{% block additional_js %}
<script>
  $('.item')
    .popup()
    ;
  /* Get into full screen */
  function GoInFullscreen(element) {
    if (element.requestFullscreen)
      element.requestFullscreen();
    else if (element.mozRequestFullScreen)
      element.mozRequestFullScreen();
    else if (element.webkitRequestFullscreen)
      element.webkitRequestFullscreen();
    else if (element.msRequestFullscreen)
      element.msRequestFullscreen();
  }

  /* Get out of full screen */
  function GoOutFullscreen() {
    if (document.exitFullscreen)
      document.exitFullscreen();
    else if (document.mozCancelFullScreen)
      document.mozCancelFullScreen();
    else if (document.webkitExitFullscreen)
      document.webkitExitFullscreen();
    else if (document.msExitFullscreen)
      document.msExitFullscreen();
  }

  /* Is currently in full screen or not */
  function IsFullScreenCurrently() {
    var full_screen_element = document.fullscreenElement || document.webkitFullscreenElement || document.mozFullScreenElement || document.msFullscreenElement || null;

    // If no element is in full-screen
    if (full_screen_element === null)
      return false;
    else
      return true;
  }

  $("#fullscreen_btn").on('click', function () {
    if (IsFullScreenCurrently())
      GoOutFullscreen();
    else
      GoInFullscreen($("#cameras_grid").get(0));
  });
</script>
{% endblock %}