{% extends '/base/default-dashboard.html' %}

{% import '/base/html-renderer.html' as renderer %}
{% block additional_head %}
<script type="text/javascript" src="{{ url_for('static', filename='brython/gridviews.brython.js') }}"></script>
{% endblock %}
{% block dashboard_title %}
Grid View
<input type="text">
{% endblock %}

{% block content %}
<div class="ui stackable grid container" style="width: 100%; padding-top: 0;">
    <div class="two wide column" style="padding-right: 0rem;">
        <div class="ui segment">
            <div class="ui list">
                {% if not projects %}
                <div class="item">
                    <div class="content">
                        No any projects
                    </div>
                </div>
                {% endif %}
                {% for project in projects %}
                <div class="item">
                    <i class="folder icon"></i>
                    <div class="content">
                        <div class="header">{{project.name | title}}</div>
                        <div class="list">
                            {% if not project.cameras %}
                            <div class="item ">
                                <div class="content">
                                    No any camera.
                                </div>
                            </div>
                            {% endif %}
                            {% for camera in project.cameras %}
                            <div id="{{camera.id}}-{{ camera.get_streaming_url() }}" class="item cameras"
                                draggable="true" data-html="<img src='{{ camera.get_streaming_url() }}' width='100%'>">
                                <i class="video icon"></i>
                                <div class="content">
                                    {{ camera.name }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="fourteen wide column" style="padding-left: 1rem;">
        <div class="ui segment" style="height: 60rem;">
            <div class="ui grid">
                {% include "/base/grids/thirty-two_grids.html" %}
            </div>
        </div>
    </div>
</div>
<script type="text/python">
from gridviews import controllers

gridview = controllers.GridViewController()
gridview.start()
</script>
{% endblock %}

{% block additional_js %}
<script>
    $('.item')
        .popup()
        ;

</script>
{% endblock %}