{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}
Camera Brand: {{ brand.name }}
{% endblock %}
{% block additional_head %}
<style>
  .icon-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
{% endblock %}
{% block dashboard_title %}
Camera Brand: {{ brand.name }}
{% endblock %}
{% block content %}
<a class="ui button" href="{{ url_for('administration.camera_settings.brands_index') }}">Back</a>
<a class="ui green button" href="{{ url_for('administration.camera_settings.create_models', brand_id=brand.id) }}">
  Add New Camera Models
</a>
{% if not camera_models %}
<div class="ui warning message">
  <p>Not found any Camera models</p>
</div>

{% else%}
<table class="ui celled table">
  <thead>
    <tr>
      <th>Camera Model Name</th>
      <th>Protocal</th>
      <th>Path</th>
      <th>Port</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for camera_model in camera_models %}
    <tr>
      <td data-label="Camera Brand Name">{{ camera_model.model }}</td>
      <td data-label="Protocal">{{ camera_model.protocal }}</td>
      <td data-label="Path">{{ camera_model.path }}</td>
      <td data-label="Port">{{ camera_model.port }}</td>
      <td data-label="Action">
        <a
          href="{{ url_for('administration.camera_settings.edit_model', brand_id=brand.id, camera_model_id=camera_model.id) }}">
          <i class="circular inverted primary edit icon"></i>
        </a>
        <a id="btn-delete-modal-{{camera_model.id}}" href="#">
          <i class="circular inverted red trash icon"></i>
        </a>
      </td>
    </tr>
    <div class="ui tiny modal" id="delete-models-{{camera_model.id}}">
      <i class="close icon"></i>
      <div class="header">
        Delete
      </div>
      <div class="image content">
        <div class="description">
          Are you sure you want to delete : "{{ camera_model.model }}"
        </div>
      </div>
      <div class="actions">
        <div class="ui red cancel button"><i class="remove icon"></i>No</div>
        <a class="ui green ok button"
          href="{{ url_for('administration.camera_settings.delete_model', brand_id=brand.id, camera_model_id=camera_model.id) }}">
          <i class="checkmark icon"></i>Yes</a>
      </div>
      {% endfor %}
  </tbody>
</table>

{% endif %}
{% endblock %}
{% block additional_js %}
<script type="text/javascript">
  {% for model in camera_models %}
  $('#btn-delete-modal-{{model.id}}').click(function () {
    $('#delete-models-{{model.id}}').modal('show');
  });
  {% endfor %}
</script>
{% endblock %}