MONGODB_DB = 'nokkhumdb'
MONGODB_HOST = 'nokkhum-mongodb'
SECRET_KEY = 'nokkhum-secretkey' # change it when deploy web


NOKKHUM_MESSAGE_NATS_HOST= 'nokkhum-nats-server:4222'


NOKKHUM_COMPUTE_INTERFACE = 'eth0'

NOKKHUM_PROCESSOR_RECORDER_PATH = '/tmp'

NOKKHUM_STREAMING_URL = 'http://localhost:8081'

DAIRY_TIME_TO_REMOVE = '13:25'
DUE_DATE = 1
