flask
flask-mongoengine
flask-login
authlib
bcrypt
blinker
requests
email_validator

psutil

# for processor
opencv-python
pillow
# sklearn

# brython
watchdog
brython

# streaming
quart
nats-py==2.1.7

# for compression
ffmpeg-python
