{% extends '/base/default-dashboard.html' %}

{% block content %}
{% if not projects %}
<div class="ui segment center aligned">
  <p>No any project. Do you want to <a id="create-project-a" href="#">add new project?</a></p>
</div>
{% else %}
<div class="ui stackable four column grid">
  <!-- <div class="ui stackable two tablet four computer column grid"> -->
  {% for project in projects %}
  <div class="column">
    <div class="ui centered cards">
      <div class="card">
        <div class="content">
          <!-- <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"> -->
          <div class="header">
            {{ project.name | upper }}
          </div>
          <div class="meta">
          </div>
          <div class="ui divider"></div>
          <div class="description ">
            <div class="ui two column centered grid">
              <div class="column">Camera Name</div>
              <div class="column">Status</div>
              {% if not project.cameras %}
              <div class="column" style="padding-top: 0;">No camera</div>
              <div class="column" style="padding-top: 0;">-</div>
              {% else %}
              {% for camera in project.cameras[:5] %}
              <div class="column" style="padding-top: 0;">{{ camera.name }}</div>
              <div class="column" style="padding-top: 0;" class="processor-state" id="state-{{camera.id}}"><i
                  class="circle icon"></i></div>
              {% endfor %}
              {% endif %}
            </div>

          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <a class="ui basic blue button" href="{{ url_for('projects.view', project_id=project.id) }}">See more...</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endif %}


<script type="text/python">
  from processors import status
  status_url = "{{ url_for('processor.get_state_all_projects') }}"
  processor_status = status.ProcessorStatus(status_url, icon_size="large")
  processor_status.start()
</script>

{% endblock %}

{% block additional_js %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='brython/processors.brython.js') }}"></script>
<script>
  $(function () {
    $("#create-project-a").click(function () {
      $(".ui.modal.create").modal('show');
    });
    $(".ui.modal.create").modal({
      closable: true
    });
  });
</script>
{% endblock %}