{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('dashboard.index') }}" class="section">Dashboard</a>
{% endblock breadcrumbs %}

{% block content %}
<div class="ui gird">
  <div class="one column row">
    <div class="ui four stackable cards">
      <div class="card">
        <div class="content">
          <div class="header">Elliot Fu</div>
          <div class="description">
            Elliot Fu is a film-maker from New York.
          </div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Add Friend
        </div>
      </div>


      <div class="card">
        <div class="content">
          <div class="header">Veronika Ossi</div>
          <div class="description">
            Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
          </div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Add Friend
        </div>
      </div>


      <div class="card">
        <div class="content">
          <div class="header">Jenny Hess</div>
          <div class="description">
            Jenny is a student studying Media Management at the New School
          </div>
        </div>

      </div>

      <div class="card">
          <div class="content">
            <div class="header">Elliot Fu</div>
            <div class="description">
              Elliot Fu is a film-maker from New York.
            </div>
          </div>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            Add Friend
          </div>
        </div>

    </div>
  </div>
</div>
{% endblock content %}

{% block additional_js %}
{% endblock additional_js %}