{% extends '/dashboard/index-admin.html' %}
{% block title %}Storages{% endblock %}

{% block dashboard_title %}
Projects
{% endblock %}


{% block breadcrumbs %}
{{ super() }}
{% set project = camera.get_project() %}
<i class="right angle icon divider"></i>
<a class="section" href="{{ url_for('projects.index') }}">Projects</a>
<i class="right angle icon divider"></i>
<a class="section" href="{{ url_for('projects.view', project_id=project.id) }}">{{ project.name }}</a>
<i class="right angle icon divider"></i>
<a class="section" href="{{ url_for('cameras.view', camera_id=camera.id, project_id=project.id) }}">{{ camera.name
  }}</a>
{% endblock %}

{% block content %}

<div class="row">
  <div class="column">
    <h3 class="ui header">Share Project</h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Camera</th>
          <th>Date</th>
          <th>Start</th>
          <th>End</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        {% for share_storage in share_storages %}
        <tr>
          <td data-label="Camera">{{ share_storage.processor.camera.name }}</td>
          <td data-label="Name">{{ share_storage.date_dir }}</td>
          <td data-label="Start">{{ share_storage.start_date }}</td>
          <td data-label="End">{{ share_storage.expire_date }}</td>
          <td data-label="Tools">
            <a href="{{ url_for('storages.list_records_by_date', processor_id=share_storage.processor.id, date_dir=share_storage.date_dir) }}"><i class="eye icon"></i></a>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
