{% extends '/storages/index.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}Video Storage: {{camera.name}}{% endblock %}

{% block dashboard_title %}
<h2><a href="{{ url_for('projects.view', project_id=camera.project.id) }}">{{ camera.project.name | title }}</a>>
  <a href="{{ url_for('cameras.view', camera_id=camera.id, project_id=camera.project.id) }}">{{camera.name}}</a> >
  Storage
</h2>
{% endblock %}

{% block content %}
<div class="ui basic segment">
  <div class="ui stackable five column grid">
    {% if date_dirs | length == 0%}
    <p style="padding-top: 1rem; padding-bottom: 1rem;">
      <span class="ui medium grey text">
        Don't have any directory in this processor.
      </span>
    </p>
    {% endif %}
    {% for d in date_dirs %}
    <div class="column">
      <div class="ui card fluid">
        <div class="content">
          <div class="header">{{ d.name }}</div>
        </div>
        <div class="extra content">
          <a class="ui button right floated"
            href="{{ url_for('storages.list_records_by_date', processor_id=processor.id, date_dir=d.name) }}">
            <i class="folder icon"></i>
            View
          </a>
          {% if camera.project.is_assistant_or_owner_or_security_guard(current_user) %}
          <a class="ui button left floated" href="{{ url_for('storages.share_storage', processor_id=processor.id, date_dir=d.name) }}">
            <i class="share icon"></i>
            Share
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}