{% extends '/storages/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
Storage Camera: {{camera.name}}
{% endblock %}

{% block content %}

<div class="ui segment">
  <div class="ui stackable five column grid">
    {% if file_list | length == 0%}
    <p style="padding-top: 1rem; padding-bottom: 1rem;"><span class="ui medium grey text">Don't have any video file in
        this
        Directory.</span></p>

    {% endif %}
    {% for f in file_list %}
    {%- if f.name.startswith('_') %}
    {% set image_style = ' disabled' %}
    {% else %}
    {% set image_style = '' %}
    {%- endif %}
    <div class="column">
      <div class="ui medium image{{ image_style }}">
        {%- if not f.name.startswith('_') %}
        <img
          src="{{ url_for('storages.download', processor_id=processor.id, date_dir=date_dir, filename='{}-thumbnail.png'.format(f.stem)) }}">
        {% else %}
        <img
          src="{{ url_for('storages.download', processor_id=processor.id, date_dir=date_dir, filename='{}-thumbnail.png'.format(f.stem[1:])) }} ">
        {%- endif %}
      </div>
      {% set name = f.name[f.name.find('-')+1: f.name.rfind('-')]  %}
      {%- if not f.name.startswith('_') %}
      <a href="{{ url_for('storages.view_video', processor_id=processor.id, date_dir=date_dir, filename=f.name) }}"><i
          class="file video icon"></i><span class="ui medium grey text"> {{ name }}</span></a>
      {% else %}
      <div class="header">{{ name }}</div>
      <div class="description">Recording</div>
      {%- endif %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}