{% extends '/storages/index.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}{{camera.name}} Video Storage{% endblock %}

{% block dashboard_title %}
Video Storage: {{camera.name}}
{% endblock %}
{% block additional_head %}
<style>
  .icon-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
{% endblock %}
{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<a class="section"
  href="{{ url_for('storages.list_records_by_date', processor_id=processor.id, date_dir=video_path.parent.name) }}">
  {{ video_path.parent.name }}
</a>
{% endblock %}

{% block content %}
<div class="ui container">
  {% set date=video_path.name.split('-')[1] %}
  {% set time=video_path.name.split('-')[2] %}
  {% set file_date = "{}/{}/{}".format(date[6:8], date[4:6], date[:4]) %}
  {% set file_time = "{}:{}:{}".format(time[:2], time[2:4], time[4:6]) %}

  <h3 class="ui header">Video: {{ file_time }} on {{ file_date }}
    {%- if "motion" in request.path %}
    - {{motion_time_dalta}} seconds
    {%- endif %}
  </h3>
  <div class="ui center segment">
    <div class="ui special cards">
      <div class="centered card" style="width: 100%;">
        <div id="video-player" class="image">
          <img
            src="{{ url_for('storages.get_thumbnail', processor_id=processor.id, date_dir=video_path.parent.name, filename='{}-thumbnail.png'.format(video_path.stem.split('.')[0])) }}">
          <div class="icon-centered"><a><i id="video-play-icon" class="huge play icon"></i></a></div>

        </div>
      </div>
    </div>
    <div style="margin-top: 1em;">
      <a class="ui primary button"
        href="{{ url_for('storages.download_tar', processor_id=processor.id, date_dir=video_path.parent.name, filename='{}.tar.{}'.format(video_path.name, config.get('TAR_TYPE'))) }}">
        <i class="download icon"></i>TAR</a>
      <a id="download-mp4" download class="ui primary button"> <i class="download icon"></i>MP4</a>
    </div>
  </div>
</div>
<script type="text/python">
  from videos import controllers
  {% set filename="{}/{}/{}.mp4".format(processor.id, video_path.parent.name, video_path.name) %}
  video_controller = controllers.VideoController(
    get_video_url="{{ url_for('api.get_video', processor_id=processor.id, date_dir=video_path.parent.name, filename=video_path.name) }}",
    video_path="{{ url_for('static-data.static', filename=filename) }}",
  )
  video_controller.start()
</script>
{% endblock %}

{% block additional_js %}
<script type="text/javascript" src="{{ url_for('static', filename='brython/videos.brython.js') }}"></script>

{% endblock %}