{% extends '/base/base-map.html' %}
{% block body %}
<div id="mapbrython" class="map">
</div>
<div style="text-align: right;
;z-index: 2;position: fixed;
top: 0.5em;right: 140px;">
	<a href="{{url_for('dashboard.index')}}" style="margin-top:5px;background-color: #e67478;"
		class="circular ui icon black button">
		<i class="big home icon"></i></a>
	<button id="fly" class="circular ui icon black button" style="margin-top:5px;background-color: #79D1AD;">
		<i class="big crosshairs white icon"></i></button>
</div>

<style>
	.info {
		padding: 6px 8px;
		font: 24px/26px Arial, Helvetica, sans-serif;
		background: white;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
	}

	.tooltip-marker {
		font-size: medium;
		border: 2px solid;
	}

	.leaflet-tooltip-top.tooltip-marker::before,
	.leaflet-tooltip-bottom.tooltip-marker::before,
	.leaflet-tooltip-left.tooltip-marker::before,
	.leaflet-tooltip-right.tooltip-marker::before {
		border: none !important;
	}

	.info h4 {
		font: 22px Arial;
		text-align: end;
		margin: 0 0 5px;
		color: #777;
	}

	.province_popup {
		width: 180px;
	}

	.province_popup .leaflet-popup-tip {
		width: 0px;
		height: 0px;
	}
</style>

<script type="text/python">
	from maps import MapRenderer
	map = MapRenderer({{center}},{{zoom}}, "{{ url_for('projects.get_camera_location_in_project', project_id=request.args.get('project_id', ''))}}", camera_view_url="{{ url_for('cameras.view', project_id=request.args.get('project_id', '')) }}")
	map.start()

</script>
{% endblock %}

{% block additional_js %}
<script type="text/javascript" src="{{ url_for('static', filename='brython/maps.brython.js') }}"></script>

{% endblock %}