<div id="display-1" class="displays center aligned sixteen wide tablet eight wide computer column"
    style="border-width: thin; border-style: solid; border-color: white; height: 30rem; background: #DCDCDC; padding: 0;">
</div>
<div id="display-2" class="displays center aligned sixteen wide tablet eight wide computer column"
    style="border-width: thin; border-style: solid; border-color: white; height: 30rem; background: #DCDCDC; padding: 0;">
</div>
<div id="display-3" class="displays center aligned sixteen wide tablet eight wide computer column"
    style="border-width: thin; border-style: solid; border-color: white; height: 30rem; background: #DCDCDC; padding: 0;">
</div>
<div id="display-4" class="displays center aligned sixteen wide tablet eight wide computer column"
    style="border-width: thin; border-style: solid; border-color: white; height: 30rem; background: #DCDCDC; padding: 0;">
</div>