<div class="ui stackable two column grid container-fluid" style="margin: 1rem;">
  <div class="column" style="padding: 0;">
    <div id="display-1" class="displays"
      style="border-width: 1px; border-style: solid; border-color: white; height: 100%; min-height: 460px; max-height: 460px; background: #000000; padding: 0;">
    </div>
  </div>
  <div class="column" style="padding: 0;">
    <div id="display-2" class="displays"
      style="border-width: 1px; border-style: solid; border-color: white; height: 100%; min-height: 460px; max-height: 460px; background: #000000; padding: 0;">
    </div>
  </div>
  <div class="column" style="padding: 0;">
    <div id="display-3" class="displays"
      style="border-width: 1px; border-style: solid; border-color: white; height: 100%; min-height: 460px; max-height: 460px; background: #000000; padding: 0;">
    </div>
  </div>
  <div class="column" style="padding: 0;">
    <div id="display-4" class="displays"
      style="border-width: 1px; border-style: solid; border-color: white; height: 100%; min-height: 460px; max-height: 460px; background: #000000; padding: 0;">
    </div>
  </div>
</div>