<div id="display-1" class="displays center aligned sixteen wide tablet eight wide computer column"
    style="border-width: thin; border-style: solid; border-color: white; height: 30rem; background: #DCDCDC; padding: 0;">
</div>
<div id="display-2" class="displays center aligned sixteen wide tablet eight wide computer column"
    style="border-width: thin; border-style: solid; border-color: white; height: 30rem; background: #DCDCDC; padding: 0;">
</div>
<div class="center aligned sixteen wide tablet eight wide computer column"
    style="border-width: thin; border-style: solid; border-color: white; height: 30rem; background: #DCDCDC; padding: 0;">
    <div class="ui two column grid" style="padding-top: 1rem; padding-left: 1rem; padding-right: 1rem;">
        <div id="display-3" class="displays center aligned eight wide tablet eight wide computer column"
            style="border-width: thin; border-style: solid; border-color: white; height: 15rem; background: #DCDCDC; padding: 0;">
        </div>
        <div id="display-4" class="displays center aligned eight wide tablet eight wide computer column"
            style="border-width: thin; border-style: solid; border-color: white; height: 15rem; background: #DCDCDC; padding: 0;">
        </div>
        <div id="display-5" class="displays center aligned eight wide tablet eight wide computer column"
            style="border-width: thin; border-style: solid; border-color: white; height: 15rem; background: #DCDCDC; padding: 0;">
        </div>
        <div id="display-6" class="displays center aligned eight wide tablet eight wide computer column"
            style="border-width: thin; border-style: solid; border-color: white; height: 15rem; background: #DCDCDC; padding: 0;">
        </div>
    </div>
</div>
<div class="center aligned sixteen wide tablet eight wide computer column"
    style="border-width: thin; border-style: solid; border-color: white; height: 30rem; background: #DCDCDC; padding: 0;">
    <div class="ui two column grid" style="padding-top: 1rem; padding-left: 1rem; padding-right: 1rem;">
        <div id="display-7" class="displays center aligned eight wide tablet eight wide computer column"
            style="border-width: thin; border-style: solid; border-color: white; height: 15rem; background: #DCDCDC; padding: 0;">
        </div>
        <div id="display-8" class="displays center aligned eight wide tablet eight wide computer column"
            style="border-width: thin; border-style: solid; border-color: white; height: 15rem; background: #DCDCDC; padding: 0;">
        </div>
        <div id="display-9" class="displays center aligned eight wide tablet eight wide computer column"
            style="border-width: thin; border-style: solid; border-color: white; height: 15rem; background: #DCDCDC; padding: 0;">
        </div>
        <div id="display-10" class="displays center aligned eight wide tablet eight wide computer column"
            style="border-width: thin; border-style: solid; border-color: white; height: 15rem; background: #DCDCDC; padding: 0;">
        </div>
    </div>
</div>