{% extends '/projects/project.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
Add Contributor: {{project.name}}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<a class="section" href="{{ url_for('projects.add_contributor', project_id=project.id) }}">Add Contributor</a>
{% endblock %}

{% block content %}
{% if 'admin' in current_user.roles or project.is_assistant_or_owner(current_user) %}
<div class="row" style="margin-bottom: 0.25rem;">
  <h3>Search User's Email</h3>
</div>
<form action="{{ url_for('projects.add_contributor', project_id=project.id) }}" method="GET">
  <select class="ui search dropdown fluid" id="add-user" name="add-user" placeholder="Email">
    {% for user in users %}
    {% if not user in project.users %}
    <option value="{{ user.id }}">{{ user.email }}</option>
    {% endif %}
    {% endfor %}
  </select>
  <input type="submit" class="ui primary button" value="Submit" style="margin-top: 0.75rem;">
  <a class="ui button" href="{{ url_for('projects.index') }}" style="margin-top: 0.75rem;">Back</a>
</form>
{% endif %}
<div class="row" style="margin-top: 2rem;">
  <div class="col">
    <h3 class="ui header">Your Project Contributor</h3>
    <table class="ui very basic celled table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Organization</th>
          <th>Role</th>
          {% if current_user == project.owner %}
          <th>Manage</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for user in project.users %}
        <tr>
          <td data-label="Email">{{ user.email }}</td>
          <td data-label="Firstname">{{ user.first_name }}</td>
          <td data-label="Lastname">{{ user.last_name }}</td>
          <td data-label="Organization">{{ user.organization }}</td>
          <td data-label="Role">
            {% if user == project.owner %}
            <div class="ui primary basic label">
              Owner
            </div>
            {% endif %}
            {% if user != project.owner %}
            {% if user in project.assistant %}
            <div class="ui secondary basic label">
              Assistant
            </div>
            {% elif user in project.security_guard %}
            <div class="ui secondary basic label">
              Security Guard
            </div>
            {% else %}
            <div class="ui basic label">
              Member
            </div>
            {% endif %}
            {% endif %}
          </td>
          {% if 'admin' in current_user.roles or project.is_owner(current_user) %}
          <td data-label="Manage">
            {% if user != project.owner %}
            {% if user not in project.assistant and user not in project.security_guard %}
            <a class="ui green circular primary icon button" data-tooltip="Grant to project assistant"
              href="{{ url_for('projects.add_assistant',project_id=project.id, user_id=user.id) }}"><i
                class="user tie icon"></i></a>
            <a class="ui green circular primary icon button" data-tooltip="Grant to project security guard"
              href="{{ url_for('projects.add_security_guard',project_id=project.id, user_id=user.id) }}"><i
                class="user shield icon"></i></a>
            {% elif user in project.assistant %}
            <a class="ui orange circular primary icon button" data-tooltip="Demote from project assistant"
              href="{{ url_for('projects.demote_assistant',project_id=project.id, user_id=user.id) }}"><i
                class="sort amount down icon"></i></a>
            {% elif user in project.security_guard %}
            <a class="ui orange circular primary icon button" data-tooltip="Demote from project security guard"
              href="{{ url_for('projects.demote_security_guard',project_id=project.id, user_id=user.id) }}"><i
                class="sort amount down icon"></i></a>
            {% endif %}
            {% if 'admin' in current_user.roles or project.is_owner(current_user) %}
            <a id="btn-modal-{{user.id}}" class="ui red circular primary icon button" data-tooltip="Delete"><i
                class="trash icon"></i></a>
            <div class="ui modal" id="delete-notification-{{user.id}}">
              <i class="close icon"></i>
              <div class="header">
                Delete
              </div>
              <div class="image content">
                <div class="description">
                  Are you sure you want to delete : "{{ user.first_name }}"
                </div>
              </div>
              <div class="actions">
                <div class="ui red cancel button"><i class="remove icon"></i>No</div>
                <a class="ui green ok button"
                  href="{{ url_for('projects.delete_contributor',project_id=project.id, user_id=user.id) }}"><i
                    class="checkmark icon"></i>Yes</a>
              </div>
            </div>
            {% endif %}
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block additional_js %}
<script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.min.js') }}"></script>
<script type="text/javascript">
  $('#add-user')
    .dropdown({
      ignoreDiacritics: true,
      sortSelect: true,
      fullTextSearch: 'exact'
    });
</script>
<script type="text/javascript">
  {% for user in project.users %}
  $('#btn-modal-{{user.id}}').click(function () {
    $('#delete-notification-{{user.id}}').modal('show');
  });
  {% endfor %}
</script>
{% endblock %}