{% extends '/projects/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
  Create Project
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <a class="section" href="{{ url_for('projects.create') }}">Create Project</a>
{% endblock %}

{% block content %}
<div>
  </br>
  <form class="ui big form" method="POST">
    {{ form.csrf_token }}
    <div class="ui grid">
      <div class="six wide computer twelve wide tablet column">
        <div class="field">
          {{ renderer.render_field(form.name) }}
        </div>
        <div class="field">
          <div class="ui checkbox" onclick="showLineNotifyToken()" >
            <div class="ui large green label">
              {{ form.has_token }}
              {{ form.has_token.label }}
            </div>
          </div>
        </div>
        <div id="line_notify_token" style="display:none">
          {{ renderer.render_field(form.line_notify_token) }}
          <div class="field">
            <h5>Get Line Token: <a href="https://notify-bot.line.me/en/" target="_blank">https://notify-bot.line.me/en/</a></h5>
          </div>
          <br>
        </div>
        <script>
          function showLineNotifyToken() {
            var checkBox = document.getElementById("has_token");
            var text = document.getElementById("line_notify_token");
            console.log(checkBox.checked)
            if (checkBox.checked == true){
              text.style.display = "block";
            } else {
              text.style.display = "none";
            }
          }
        </script>
        <button class="ui submit primary button" type="submit">Confirm</button>
        <a class="ui button" href="{{ url_for('projects.index') }}">Back</a>
      </div>
    </div>

    <div class="ui grid">
      <div class="seven wide computer twelve wide tablet column">
        {% if form.errors | count > 0 %}
          <div class="ui error">{{ form.errors }}</div>
        {% endif %}
        <div class="ui error message"></div>
      </div>
    </div>
  </form>
</br>
</div>

{% endblock %}

{% block additional_js %}
<script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.min.js') }}"></script>
<script type="text/javascript">
$('.ui.form')
  .form({
    fields: {
      name: {
        rules: [
          {
            type   : "empty",
            prompt : "Please enter project name"
          },
          {
            type   : "maxLength[35]",
            prompt : "Project name is too long (maximum is 35 characters). "
          }

        ]
      }
    }
  });
</script>
{% endblock %}
