{% extends '/projects/index.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}Edit Projects{% endblock %}

{% block dashboard_title %}
Edit Project
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<a class="section" href="{{ url_for('projects.edit',project_id=project.id) }}">Edit Project</a>
{% endblock %}

{% block content %}
<div>
  <form class="ui big form" method="POST">
    {{ form.csrf_token }}
    <div class="ui grid">
      <div class="six wide computer twelve wide tablet column">
        <div class="field">
          {{ renderer.render_field(form.name) }}
        </div>
        <div class="field">
          <div class="ui basic button">
            <div class="ui checkbox" onclick="showLineNotifyToken()">
              {{ form.has_token }}
              <label for="has_token" style="font-size: 1.5rem;">
                <i class="linechat icon" style="color: #06c755;"></i>
                Notify
              </label>
            </div>
          </div>
        </div>
        {% if project.has_token %}
        <div id="line_notify_token" style="display:block">
          {{ renderer.render_field(form.line_notify_token) }}
          <div class="field">
            <h5>Get Line Token: <a href="https://notify-bot.line.me/en/"
                target="_blank">https://notify-bot.line.me/en/</a></h5>
          </div>
          <br>
        </div>
        {% endif %}
        <div id="line_notify_token" style="display:none">
          {{ renderer.render_field(form.line_notify_token) }}
          <div class="field">
            <h5>Get Line Token: <a href="https://notify-bot.line.me/en/"
                target="_blank">https://notify-bot.line.me/en/</a></h5>
          </div>
          <br>
        </div>
        <script>
          function showLineNotifyToken() {
            var checkBox = document.getElementById("has_token");
            var text = document.getElementById("line_notify_token");
            console.log(checkBox.checked)
            if (checkBox.checked == true) {
              text.style.display = "block";
            } else {
              text.style.display = "none";
            }
          }
        </script>
        <button class="ui submit primary button" type="submit">Confirm</button>
        <a class="ui button" href="{{ url_for('projects.index') }}">Back</a>
      </div>
    </div>
    <div class="ui grid">
      <div class="seven wide computer twelve wide tablet column">
        {% if form.errors | count > 0 %}
        <div class="ui error">{{ form.errors }}</div>
        {% endif %}
        <div class="ui error message"></div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block additional_js %}
<script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.min.js') }}"></script>
<script type="text/javascript">
  $('.ui.form')
    .form({
      fields: {
        name: {
          rules: [
            {
              type: "empty",
              prompt: "Please enter project name"
            },
            {
              type: "maxLength[35]",
              prompt: "Project name is too long (maximum is 35 characters). "
            }
          ]
        }
      }
    });
</script>
{% endblock %}