{% extends '/projects/index.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}Projects: {{project.name}}{% endblock %}

{% block dashboard_title %}
Project: {{project.name}}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<a class="section" href="{{ url_for('projects.view',project_id=project.id) }}">{{project.name}}</a>
{% endblock %}

{% block content %}
<style>
  .ui.button {
    margin: 0.25rem;
  }
</style>
<input id="project-id" type="hidden" value="{{project.id}}">
<div>
  <div class="field">
    {% if 'admin' in current_user.roles or current_user == project.owner or current_user in project.assistant%}
    <a class="ui primary button" href="{{ url_for('cameras.add', project_id=project.id) }}"><i class="plus icon"></i>Add
      Camera</a>
    <a class="ui primary icon teal labeled button"
      href="{{ url_for('projects.add_contributor_page', project_id=project.id)}}">
      <i class="user plus icon"></i>
      Add contributor
    </a>
    {% endif %}
    <a class="ui icon labeled button" href="{{ url_for('maps.view', project_id=project.id)}}" target="_blank"><i
        class="world icon"></i>Map</a>
  </div>

  <div class="row" style="margin-top: 2rem;">
    <div class="column">
      <h2 class="ui header">Your Camera</h2>
      {% if project.cameras %}
      <table class="ui table">
        <thead>
          <tr>
            <th>Camera Name</th>
            <th>View Camera</th>
            <th>Processor State</th>
            {% if current_user == project.owner or current_user in project.assistant %}
            <th>Recorder Controller</th>
            <th>Manage</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for camera in project.cameras -%}
          {% if camera.status=="active" %}
          <tr>
            <td data-label="Name"><a href="{{ url_for('cameras.view', project_id=project.id, camera_id=camera.id) }}"
                style=" color:black">{{ camera.name }}</a></td>
            <td data-label="Camera">
              <a class="ui labeled primary icon button"
                href="{{ url_for('cameras.view', project_id=project.id, camera_id=camera.id) }}"><i
                  class="eye icon"></i>
                View
              </a>
              <a class="ui labeled icon teal button"
                href="{{ url_for('storages.list_storage_by_processor', processor_id=camera.get_processor().id) }}">
                <i class="folder icon"></i>
                Video Gallery
              </a>
            </td>
            <td data-label="ProcessorState" class="processor-state" id="state-{{camera.id}}"></td>
            {% if current_user == project.owner or current_user in project.assistant %}
            <td>
              <button class="ui icon button start-recorder" id="{{camera.id}}/{{project.id}}" style="width: 8rem;">
                <i class="play icon"></i>
                Record
              </button>
              <button class="ui icon button stop-recorder" id="{{camera.id}}/{{project.id}}" style="width: 8rem;">
                <i class="stop icon"></i>
                Stop
              </button>
            </td>
            <td>
              {% if 'admin' in current_user.roles or current_user == project.owner or current_user in project.assistant
              %}
              <a class="ui circular primary icon button"
                href="{{ url_for('cameras.edit', project_id=project.id, camera_id=camera.id) }}">
                <i class="settings icon"></i>
              </a>
              {% endif %}
              {% if 'admin' in current_user.roles or current_user == project.owner %}
              <button id="btn-modal-{{camera.id}}" class="ui red basic circular primary icon button"><i
                  class="trash icon"></i></button>
              {% endif %}
              <div class="ui modal" id="delete-notification-{{camera.id}}">
                <i class="close icon"></i>
                <div class="header">
                  Delete Camera
                </div>
                <div class="content">
                  <div class="ui negative message">
                    <div class="header">
                      Are you sure you want to delete camera: "{{ camera.name }}"
                    </div>
                  </div>
                </div>
                <div class="actions">
                  <div class="ui red cancel button"><i class="remove icon"></i>No</div>
                  <a class="ui green tertiary ok button"
                    href="{{ url_for('cameras.delete', project_id=project.id, camera_id=camera.id) }}"><i
                      class="checkmark icon"></i>Yes</a>
                </div>
              </div>
            </td>
            {% endif %}

          </tr>
          {% endif %}
          {%- endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="ui info message">
        <div class="header">
          No Camera
        </div>
      </div>
      {% endif %}
    </div>

    <script type="text/python">
      from processors import status
      status_url = "{{ url_for('processor.get_state', project_id=project.id) }}"
      processor_status = status.ProcessorStatus(status_url, icon_size="big", type="text")
      processor_status.start()
    </script>

    {% endblock %}

    {% block additional_js %}
    <script type="text/javascript">
      brython(1);
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='brython/processors.brython.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/fomantic-ui-css/components/form.min.js') }}"></script>
    <script type="text/javascript">
      {% for camera in project.cameras %}
      {% if camera.status == "active" %}
      $('#btn-modal-{{camera.id}}').click(function () {
        $('#delete-notification-{{camera.id}}').modal('show');
      });
      {% endif %}
      {% endfor %}
    </script>

    {% endblock %}