{% extends "/base/base-layout.html" %}
{% block additional_head %}
<style type="text/css">
  .pusher {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
{% endblock %}
{% block body %}
<div class="pusher">
  <div class="full height">
    <header>
      {% block header %}
      {% if request.path == '/' %}
      {% include "/base/banner.html" %}
      {% elif request.path == '/login' %}
      {% else %}
      <div style="padding-top:50px;"></div>
      {% endif %}
      {% endblock %}
      <main>
        <div class="container">
          {% block content %}{% endblock content %}
        </div>
      </main>

    </header>
  </div>

  <footer class="ui vertical footer segment">
    {% include "/base/footer.html" %}
  </footer>
</div>

{% endblock %}