<div class="ui container">
  <div class="ui three column center aligned divided relaxed stackable grid container">
    <div class="row">
      <div class="column">
        <h5 class="ui header">Developed by R202</h5>
        <img height="60%" src="/static/images/r202.png">
      </div>
      <div class="column">
        <h5 class="ui header">Department of Computer Engineering</h5>
        <p>
          Faculty of Engineering<br />
          Prince of Songkla University<br />
          Hat Yai, Thailand
        </p>
      </div>
      <div class="five wide column" style="padding-top: 1rem;">
        <img src="/static/images/logo-psu.png">
      </div>
    </div>
  </div>
</div>