  <div class="ui container">
    <div class="ui grid">
      <div class="three wide column">
        <h5 class="ui header">{{ config.get('APP_TITLE') }}</h5>
        <img height="30%" src="/static/images/nokkhum.png">
      </div>

      <div class="three wide column">
        <h5 class="ui header">Developed by R202</h5>
        <img height="30%" src="/static/images/r202.png">
      </div>

      <div class="six wide column">
        <h5 class="ui header">Department of Computer Engineering</h5>
        <p>
        Faculty of Engineer<br/>
        Prince of Songkla University<br/>
        Hat Yai, Thailand
        </p>
      </div>

      <div class="four wide column">
        <h5 class="ui header">Connect</h5>
        <div class="ui link list">
          <a href="https://www.psu.ac.th">PSU</a>
        </div>
      </div>
    </div>
  </div>
