{% extends '/dashboard/index-admin.html' %}

{% block title %}Resource Usage{% endblock %}

{% block dashboard_title %}
Resource Usage
{% endblock %}


{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<a class="section" href="{{ url_for('processor.view') }}">Resource Usage</a>
{% endblock %}

{% block content %}
<div class="ui grid row">
  <form action="{{ url_for('processor.processor_search') }}" method="GET">
    <div class="ui category search">
      <div class="ui icon input">
        <input id="search" type="search" name="search" placeholder="Search Project Name..."
          class="validate search-field prompt">
        <i class="search icon"></i>
      </div>
    </div>
  </form>
</div>
<div class="ui one column stackable grid">
  {% if not projects %}
  <div class="column">
    <div class="ui message red" style="margin-top: 2rem;">
      <div class="header">
        No project or You are not any project owner
      </div>
    </div>
  </div>
  {% endif %}
  {% for project in projects %}
  <div class="column">
    <div class="ui vertical segment">
      <h3>{{ loop.index }}. {{ project.name }}</h3>
      <p style="font-size: 1.1rem;">
        <i class="video icon"></i>
        Surveillance cameras
        {{ project.camera_is_active() }}
      </p>
      <div class="ui grid stackable three column">
        {% for camera in project.cameras %}
        <div class="column">
          <div class="ui segment" style="height: 100%;">
            <h2>{{ camera.name }}</h2>
            <p>Processor Status: <span id="state{{ camera.id }}"></span></p>
            <h3>CPU Usage</h3>
            <span id="cpu_usage{{ camera.id }}"></span>
            <div class="ui progress teal" id="cpu{{ camera.id }}" style="margin-bottom: 1rem; margin-top: 0">
              <div class="bar">
                <div class="progress"></div>
              </div>
            </div>
            <h3>Memory:</h3>
            <span id="memory{{ camera.id }}"></span>
            <div class="ui progress purple" id="memorybar{{ camera.id }}" style="margin-bottom: 1rem;">
              <div class="bar">
                <div class="progress"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/python">
  from resources import monitors
  resource_monitor = monitors.ResourceMonitor("{{ url_for('processor.get_resource_usage') }}")
  resource_monitor.start()
</script>
{% endblock %}
{% block additional_js %}
<script type="text/javascript" src="{{ url_for('static', filename='brython/resources.brython.js') }}"></script>
{% endblock %}