{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Profile
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('accounts.index') }}" class="section">Accounts</a>
{% endblock %}


{% block content %}
<div class="ui container fluid">
  <div class="ui basic segment">
    <div class="ui grid one column stackable">
      <div class="column">
        <span style="font-weight: bold; font-size: 1.5rem;">
          Name:
        </span>
        <span style="font-size: 1.25rem;">
          {{ current_user.first_name }}
          {{ current_user.last_name }}
        </span>
      </div>
      <div class="column">
        <span style="font-weight: bold; font-size: 1.5rem;">
          Organization:
        </span>
        {% if current_user.organization %}
        <span class="ui teal label" style="font-size: 1.25rem;">
          {{ current_user.organization }}
        </span>
        {% else %}
        <div class="ui info message">
          Update your organization
        </div>
        {% endif %}
      </div>
      <div class="column">
        <a class="ui button primary icon labeled" href="{{ url_for('accounts.edit_profile') }}"
          title='Edit profile.'>
          <i class="edit icon"></i>
          Edit
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}